<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="smtpServer" value="127.0.0.1" />
    <add key="port" value="5000" />
    <add key="mailAddress" value="alien@ufo.com" />
    <add key="sender" value="E.T." />
    <add key="user" value="et" />
    <add key="pwd" value="nachHause" />
  </appSettings>
</configuration>