<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DALAssembly" value="UFO.DAL.MySql" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnectionString" connectionString="Server=10.0.2.2;Port=3306;Database=ufo;Uid=ufo;Pwd=ufo;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>